
body{
background-color:   ;
}

 h1{
color:rgb(235, 171, 181) ;
font-family: ;
background: ;
}


p{
color:rgb(238, 129, 202) ;
font-family:Georgia, 'Times New Roman', Times, serif ;
font-size: arial ;
background:rgb(93, 160, 172) ;
}
#nika{
    width:100%
}